
body{
  background-color: #222222;
  color: lightgrey;
  font-family: 'Open Sans Light', sans-serif;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body>header{
  width: 100%;
  background-color: #3c3c3c;
  padding-left: 7em;
  top: 0;
  box-sizing: border-box;
  box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
  position: fixed;
  z-index: 999999;
}

body>header>h1{
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 1.6em;
  display: inline-block;
}

body>h2{
  font-family: 'Open Sans Regular', sans-serif;
  margin-left: 5.5em;
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #222222;
  padding-bottom: 0;
}

/*----------------------------------  films  ----------------------------------*/

body>section{
  width: 90%;
  margin-left: 6.4em;
  margin-top: -1.2em;
}

body>section>article{
  display: inline-block;
  background-color: #3c3c3c;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: .5em;
  max-width: 30em;
  height: 27em;
  margin: 0em 1em 2em  1em;
}

body>section>article:nth-of-type(2) {
  transform: translateY(21.5px);
}

body>section>article>h3{
  font-family: 'Open Sans Regular', sans-serif;
  margin-left: 1em;
  font-size: 1.5em;
}

body>section>article>h4{
  margin-left: 16em;
  margin-top: 1em;
  font-family: 'Open Sans Regular', sans-serif;
}


body>section>article>img {
  margin-top: -5em;
  margin-left: 1em;
  width: 13.5em;
  height: 20em;
}

body>section>article>p:nth-of-type(1){
  margin: -14em 0em 0 1em;
  padding-left: 15em;
}

body>section>article>footer{
  display: none;
}

body>section>article>button{
  margin-left: 15.7em;
  margin-top: 2.8em;
  font-size: 1em;
  font-family: 'Open Sans Regular', sans-serif;
  color: lightgrey;
  background: none;
  border: none;
}
